vendor/
node_modules/
public/build/
public/hot/
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.git/
.env
.idea/
.vscode/
npm-debug.log
yarn-error.log
.DS_Store
